CUSTOM_METRICS_CONFIG_FILE={{ custom_metrics_config_file }}
CUSTOM_METRICS_PORT={{ custom_metrics_port }}
CUSTOM_METRICS_SCRAPE_INTERVAL={{ custom_metrics_scrape_interval }}
CUSTOM_METRICS_RUNTIME_FILE={{ custom_metrics_runtime_file }}
