prometheus.remote_write "mimir" {
  endpoint { url = "{{ remote_prometheus_url }}" }
  external_labels = {
{% set _lp = alloy_custom_labels | split(',') %}
{% for _p in _lp %}{% set _kv = _p | split('=') %}
    {{ _kv[0] | trim }} = "{{ _kv[1] | trim }}",
{% endfor %}
  }
}
loki.write "loki" {
  endpoint { url = "{{ remote_loki_url }}" }
  external_labels = {
{% for _p in _lp %}{% set _kv = _p | split('=') %}
    {{ _kv[0] | trim }} = "{{ _kv[1] | trim }}",
{% endfor %}
  }
}
