prometheus.exporter.unix "local_system" {
  set_collectors = [{% for c in alloy_host_collectors %}"{{ c }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  systemd {
    enable_restarts = true
    start_time      = true
    task_metrics    = true
    unit_include    = "alloy.service"
  }
}
prometheus.scrape "system" {
  targets         = prometheus.exporter.unix.local_system.targets
  forward_to      = [prometheus.remote_write.mimir.receiver]
  scrape_interval = "15s"
}
