[Unit]
Description=Proxmox Backup Server Prometheus Exporter
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
DynamicUser=true
EnvironmentFile=/etc/default/pbs-exporter
ExecStart={{ pbs_exporter_bin_dir }}/pbs-exporter -pbs.listen-address=:{{ pbs_exporter_port }}
Restart=on-failure
RestartSec=5
CapabilityBoundingSet=
NoNewPrivileges=true
[Install]
WantedBy=multi-user.target
