discovery.docker "docker_metrics" {
  host = "unix:///var/run/docker.sock"
}
prometheus.relabel "docker_metrics" {
  forward_to = [prometheus.remote_write.mimir.receiver]
  {% for name in docker_metrics_exclude_containers %}
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "{{ name }}"
    action        = "drop"
  }
  {% endfor %}
}
prometheus.scrape "docker_containers" {
  targets         = discovery.docker.docker_metrics.targets
  forward_to      = [prometheus.relabel.docker_metrics.receiver]
  scrape_interval = "60s"
}